* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	font-family: monospace;
}

#bg2 {
	height: 320px;
}

h1 {
	font-family: monospace;
	font-weight: bold;
}

html, 
body {
	height: 100%;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
}

#cv a, #kel, #buttonb{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.profile-pic {
  width: 413px;
  height: 478px;
  margin-left: 7rem;
}
.gradient {
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(91,192,222,1) 100%, rgba(91,192,222,1) 100%);
}

.page-header, footer {
	margin-top: 60px;
	font-size: 1.25rem;
	color: #fff;
}

.feature {
	color: #fff;
}

.feature ul li {
	padding-left: 2rem;
	/*background-repeat: no-repeat;*/
	line-height: 2rem;
}

.feature ul {
	padding-left: 2rem;
	list-style-type: none;
}

.gallery {
	background-color: whitesmoke;
	padding-top: 20px;
	padding-bottom: 150px;
	margin-bottom: 50px;
}

.gallery img {
	border-radius: 10%;
  border: 2px solid #fff;
}

#video {
  border-radius: 10%;
  border: 2px solid #fff
}

#video {
  margin-right: 15px;
}

#contactinfo {
  padding-bottom: 150px;
}


footer {
	font-size: 1rem;
	padding-top: 10px;
	border-bottom: none;
  border-top:  solid #fff;
	bottom: 0;
  width: 100%;
  position: fixed;
}


#logo {
	height: 100px;
}

#map div {
    border-radius:20px;
    border: 5px solid #fff;    
}

/* Typewriter 1 */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .40rem solid #00c6ff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15rem; /* Adjust as needed */
  animation: 
  typing 1s steps(50, end),
  blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  100% { border-color: #00c6ff }
}



/*Typing 2*/

.css-typing p {
  border-right: .20rem solid #00c6ff;
  font-family: "Courier";
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}
.css-typing p:nth-child(1) {
  width: 7.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 10.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 15.3em;
  opacity: 0;
  -webkit-animation: type3 2s steps(40, end), blink .5s step-end infinite alternate;
  animation: type3 1s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15rem solid #00c6ff;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15rem solid #00c6ff;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15rem solid #00c6ff;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15rem solid #00c6ff;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}


/* Typewriter 3 */
.typewriter h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .40rem solid #00c6ff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  margin-left: 35px;
  letter-spacing: .60rem; /* Adjust as needed */
  animation: 
  typing 1s steps(50, end),
  blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  100% { border-color: #00c6ff }
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}

/* Linkedin */
.fa-linkedin {
  color: white;
}

/* Gitlab */
.fa-gitlab {
  color: white;
}

/* Instagram */
.fa-instagram {
  color: white;
}

/* Google */
.fa-google {
  color: white;
}


@media(max-width: 700px) {
  img 
}